*

!.gitignore
!README.md

!alacritty/
!alacritty/**
!dunst/
!dunst/**
!i3/
!i3/**
!i3blocks/
!i3blocks/**
!inkscape/
!inkscape/**
!latexmk/
!latexmk/**
!mpd/
!mpd/**
!ncmpcpp/
!ncmpcpp/**
!nvim/
!nvim/**
!picom/
!picom/**
!rofi/
!rofi/**
!scripts/
!scripts/**
!sxhkd/
!sxhkd/**
!tmux/
!tmux/**
!xournalpp/
!xournalpp/**
!yt-dlp/
!yt-dlp/**
!zathura/
!zathura/**
!zsh/
!zsh/**

*.bak
*.log
