*

!.gitignore
!README.md
!electron-flags.conf

!alacritty/
!alacritty/**
!beets/
!beets/**
!dunst/
!dunst/**
!firefox/
!firefox/**
!hypr/
!hypr/**
!latex/
!latex/**
!nvim/
!nvim/**
!rofi/
!rofi/**
!scripts/
!scripts/**
!tmux/
!tmux/**
!waybar/
!waybar/**
!yt-dlp/
!yt-dlp/**
!zathura/
!zathura/**
!zsh/
!zsh/**

*.bak
*.log
