configuration {
    dmenu: true;
    p: "";
    modes: "drun";
    font: "Maple Mono Normal NL NF 20";
    drun-display-format: "{name}";
    sort: true;
    matching: "fuzzy";
    sorting-method: "fzf";
    no-custom: true;
}
