configuration {
    dmenu: true;
    p: "";
    modes: "drun";
    font: "JetBrainsMono Nerd Font 20";
    drun-display-format: "{name}";
    sort: true;
    matching: "fuzzy";
    sorting-method: "fzf";
    no-custom: true;
}
