* {
    font-family: "Lilex Nerd Font Mono";
    font-size: 8px;
    min-height: 0;
    min-width: 0;
    background-color: #000000;
}

#workspaces button {
    padding: 0.125rem 0.125rem;
    margin: 0.125rem 0.125rem;
    color: #5b1fc0;
}

#workspaces button.active {
    color: #ffffff;
}

#cpu.high,
#memory.high,
#battery.critical {
    color: #c94a67;
}

#cpu.mid,
#memory.mid,
#battery.high,
#battery.mid,
#battery.low {
    color: #2ea592;
}

#cpu.low,
#memory.low,
#battery.full {
    color: #8f93db;
}
