#window {
    background-color: #000000;
    border-radius: 0rem;
    border: 1px solid #5b1fc0;
    font-size: 12px;
    font-family: "Lilex Nerd Font Mono"
}

#input {
    background-color: #000000;
    border-radius: 0rem;
    border: 1px solid #5b1fc0;
    font-size: 12px;
    font-family: "Lilex Nerd Font Mono";
    padding: 0.5rem 0.5rem;
    outline: none;
}

#input:focus, #input:focus-visible, #input:active {
    outline: none;
}

#scroll {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

#entry {
    color: #a3a3a3;
    background-color: #000000;
    padding: 0.5rem 0.5rem;
}

#entry:selected {
    outline: none;
}

#text:selected {
    color: #5b1fc0;
    font-weight: 600;
}
