#window {
    background-color: rgba(0, 0, 0, 1);
    border-radius: 0rem;
    border: 1px solid rgba(80, 0, 80, 1);
    font-size: 12px;
    font-family: "Lilex Nerd Font Mono"
}

#input {
    background-color: rgba(0, 0, 0, 1);
    border-radius: 0rem;
    border: 1px solid rgba(80, 0, 80, 1);
    font-size: 12px;
    font-family: "Lilex Nerd Font Mono";
    padding: 0.5rem 0.5rem;
    outline: none;
}

#input:focus, #input:focus-visible, #input:active {
    outline: none;
}

#scroll {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

#entry {
    color: rgba(163, 163, 163, 1);
    background-color: rgba(0, 0, 0, 1);
    padding: 0.5rem 0.5rem;
}

#entry:selected {
    outline: none;
}

#text:selected {
    color: rgba(80, 0, 80, 1);
    font-weight: 600;
}
